<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TamperResistantProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TamperResistantProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TamperResistantProgram.Properties.Settings>
            <setting name="MinimizeWindow" serializeAs="String">
                <value>F6</value>
            </setting>
        </TamperResistantProgram.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TamperResistantProgram.Properties.Settings>
            <setting name="StopMonitoring" serializeAs="String">
                <value />
            </setting>
        </TamperResistantProgram.Properties.Settings>
    </userSettings>
</configuration>